#main{
	border: 1px solid green;
	position:absolute;

}
#main div {
	width:50%;
	height:50%;
	float:left;
}

#main div div{
	height:100%;
	width: 100%;
}
#first {
    background-position: 0 0;
}
#second {
    background-position: 100% 0;
}
#third{
    background-position: 0 100%;
}
#fourth {
   background-position: 100% 100%;
}
#test{
	position: absolute;
}
